#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.content {
  border-color: aqua;
  border-style: solid;
  padding: 10px;
  display: flex;
  /* flex-direction: column; */
}

.card {
  /* display: block; */
  border-color: aqua;
  border-style: solid;
  min-width: 400px;
  min-width: 400px;
}
.forms {
  display: flex;
  flex-direction: column;
}

.item {
  border-color: aqua;
  border-style: dashed;
  /* border-style: ; */
}

.card-id {
  width: 400px;
  height: 180px;
  background-color: #888;
  border-radius: 10px;
  box-shadow:
    0 10px 30px rgba(0, 0, 0, 0.1),
    0 4px 6px rgba(0, 0, 0, 0.05);
  padding: 30px;
}

.card-header {
  font-size: 30px;
  margin-bottom: 35px;
  display: flex;
  justify-content: space-between;
  /* flex-direction: column; */
}

.card-content {
  display: flex;
  justify-content: space-between;
  /* flex-direction: column; */
}

.saldo {
  font-size: x-large;
}

.btn-logout {
  margin-bottom: 25px;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
