body {
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* font-family: "Courier New", Courier, monospace; */
  font-family: cursive;
  margin: 0;
}

main {
  border-radius: 20px 20px 20px 20px;
  background-color: rgb(54, 107, 160);
  padding: 50px 50px 50px 50px;
  display: block;
  align-items: center;
  justify-content: center;
  box-shadow: 8px 8px 0px #c0ddf5;
  /* max-width: 500px; */
  width: 500px;
  /* margin: 20px 20px 20px 20px; */
}

/* form { */
/* display: block; */
/* justify-content: center;
  align-items: center;
  max-width: 350px;
} */

h1 {
  margin: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  width: 100%;
  height: 35px;
  /* margin-top: 15px; */
  margin-bottom: 15px;
  border-radius: 8px;
  box-sizing: border-box;
}

input:valid {
  border-color: green;
  background-color: rgb(204, 241, 204);
}

input:invalid:focus {
  border-color: red;
  background-color: rgb(235, 189, 189);
}

button {
  width: 100%;
  height: 45px;
  border-radius: 8px;
  background-color: rgb(8, 65, 122);
  color: white;
  margin-top: 15px;
  font-family: cursive;
  font-size: 20px;
  font-style: normal;
}

hr {
  margin-top: 20px;
  margin-bottom: 20px;
}

button:active {
  background-color: rgb(170, 210, 247);
  color: rgb(16, 68, 116);
}
