body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  font-family: Arial, sans-serif;
  margin: 0;
  height: 100vh;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  display: block;
  background-color: burlywood;
  padding: 10px 15px 10px 15px;
  margin: 10px 0px;
  border-radius: 25px 0px 0px 25px;
  height: 500px;
  display: flex;
  align-items: center;
  max-width: 300px;
}

form {
  background-color: slategray;
  padding: 10px 30px;
  /* margin: 10px 0px; */
  border-radius: 0px 25px 25px 0px;
  height: 500px;
  min-width: 300px;
  display: block;
  align-items: center;
  align-content: center;
}

input {
  width: 100%;
  border-radius: 5px;
  height: 30px;
  /* margin-bottom: 10px; */
  box-sizing: border-box; /*usar toda la pagina*/
}

input:valid {
  border-color: green;
  background-color: rgb(204, 241, 204);
}

input:invalid:focus {
  border-color: red;
  background-color: rgb(235, 189, 189);
}

button {
  width: 100%;
  margin-top: 5px;
  background: rgb(58, 57, 57);
  color: white;
  height: 35px;
  border-radius: 15px;
  cursor: pointer;
  font-size: 19px;
}

/* hr {
  position: relative;
  width: 119%;
  margin-top: 30px;
  left: -30px;
} */

label {
  font-size: 12px;
}

span {
  margin: 0;
  padding: 0;
  font-size: 8px;
  max-width: 200px;
}

.error-message {
  color: rgb(202, 37, 37);
}

.in_pass {
  /* width: 40px;
  height: 30px; */
  border-radius: 3px;
  margin: 0;
  pad: 0;
  font-size: 12px;
}
